<div class="chart-item"
     style="order: @Order; flex: 0 0 auto;"
     data-chart-key="@ChartKey"
     data-order="@Order">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public string ChartKey { get; set; } = "";
    [Parameter] public int Order { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
