<div class="chart-item" style="order: @Order" data-chart-key="@ChartKey">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public string ChartKey { get; set; } = "";
    [Parameter] public int Order { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
